USE [master]
GO
/****** Object:  Database [quanLyCamDo]    Script Date: 11/05/2026 8:48:02 PM ******/
CREATE DATABASE [quanLyCamDo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'quanLyCamDo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\quanLyCamDo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'quanLyCamDo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\quanLyCamDo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [quanLyCamDo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [quanLyCamDo]
GO
/****** Object:  UserDefinedFunction [dbo].[fnTinhTienHopDong]    Script Date: 11/05/2026 8:48:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[fnTinhTienHopDong]
(
    @hopDongId INT,
    @ngayTinh DATE
)
RETURNS DECIMAL(18,2)
AS
BEGIN
    DECLARE @soTienGoc DECIMAL(18,2);
    DECLARE @ngayLap DATE;
    DECLARE @deadline1 DATE;
    DECLARE @tongDaTra DECIMAL(18,2) = 0;
    DECLARE @soNgayTruocDeadline1 INT = 0;
    DECLARE @soNgaySauDeadline1 INT = 0;
    DECLARE @laiSuatNgay DECIMAL(18,6) = 0.005; -- 0.5% mỗi ngày
    DECLARE @laiDon DECIMAL(18,2) = 0;
    DECLARE @tongTien DECIMAL(18,2) = 0;
    DECLARE @coSoLaiKep DECIMAL(18,2) = 0;

    -- Lấy thông tin hợp đồng
    SELECT 
        @soTienGoc = soTienGoc,
        @ngayLap = ngayLap,
        @deadline1 = deadline1
    FROM hopDong
    WHERE hopDongId = @hopDongId;

    -- Nếu không có hợp đồng thì trả về 0
    IF @soTienGoc IS NULL
        RETURN 0;

    -- Tính tổng số tiền đã thanh toán
    SELECT @tongDaTra = ISNULL(SUM(soTienTra), 0)
    FROM lichSuThanhToan
    WHERE hopDongId = @hopDongId;

    -- Nếu ngày tính trước ngày lập hợp đồng thì chưa phát sinh nợ
    IF @ngayTinh < @ngayLap
        RETURN 0;

    -- Nếu ngày tính chưa vượt deadline1 thì chỉ tính lãi đơn
    IF @ngayTinh <= @deadline1
    BEGIN
        SET @soNgayTruocDeadline1 = DATEDIFF(DAY, @ngayLap, @ngayTinh);
        SET @laiDon = @soTienGoc * @laiSuatNgay * @soNgayTruocDeadline1;
        SET @tongTien = @soTienGoc + @laiDon - @tongDaTra;

        IF @tongTien < 0
            SET @tongTien = 0;

        RETURN @tongTien;
    END

    -- Nếu ngày tính vượt deadline1 thì tính lãi đơn trước
    SET @soNgayTruocDeadline1 = DATEDIFF(DAY, @ngayLap, @deadline1);
    SET @laiDon = @soTienGoc * @laiSuatNgay * @soNgayTruocDeadline1;

    -- Cơ sở để tính lãi kép là gốc + lãi đơn đã tích lũy
    SET @coSoLaiKep = @soTienGoc + @laiDon;

    -- Tính số ngày sau deadline1
    SET @soNgaySauDeadline1 = DATEDIFF(DAY, @deadline1, @ngayTinh);

    -- Áp dụng công thức lãi kép
    SET @tongTien = (@coSoLaiKep * POWER(1 + @laiSuatNgay, @soNgaySauDeadline1)) - @tongDaTra;

    IF @tongTien < 0
        SET @tongTien = 0;

    RETURN @tongTien;
END;

GO
/****** Object:  Table [dbo].[chiTietHopDongTaiSan]    Script Date: 11/05/2026 8:48:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chiTietHopDongTaiSan](
	[chiTietId] [int] IDENTITY(1,1) NOT NULL,
	[hopDongId] [int] NOT NULL,
	[taiSanId] [int] NOT NULL,
	[giaTriCamCo] [decimal](18, 2) NOT NULL,
	[daTraKhach] [bit] NOT NULL,
	[ngayTraKhach] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[chiTietId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hopDong]    Script Date: 11/05/2026 8:48:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hopDong](
	[hopDongId] [int] IDENTITY(1,1) NOT NULL,
	[khachHangId] [int] NOT NULL,
	[ngayLap] [date] NOT NULL,
	[soTienGoc] [decimal](18, 2) NOT NULL,
	[deadline1] [date] NOT NULL,
	[deadline2] [date] NOT NULL,
	[trangThai] [nvarchar](50) NOT NULL,
	[ghiChu] [nvarchar](255) NULL,
	[ngayCapNhat] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[hopDongId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khachHang]    Script Date: 11/05/2026 8:48:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khachHang](
	[khachHangId] [int] IDENTITY(1,1) NOT NULL,
	[hoTen] [nvarchar](100) NOT NULL,
	[soDienThoai] [varchar](20) NOT NULL,
	[canCuocCongDan] [varchar](20) NOT NULL,
	[diaChi] [nvarchar](255) NULL,
	[ngayTao] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[khachHangId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lichSuThanhToan]    Script Date: 11/05/2026 8:48:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lichSuThanhToan](
	[thanhToanId] [int] IDENTITY(1,1) NOT NULL,
	[hopDongId] [int] NOT NULL,
	[ngayThanhToan] [datetime] NOT NULL,
	[soTienTra] [decimal](18, 2) NOT NULL,
	[nhanVienId] [int] NOT NULL,
	[ghiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[thanhToanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhanVien]    Script Date: 11/05/2026 8:48:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhanVien](
	[nhanVienId] [int] IDENTITY(1,1) NOT NULL,
	[hoTen] [nvarchar](100) NOT NULL,
	[soDienThoai] [varchar](20) NULL,
	[chucVu] [nvarchar](50) NULL,
	[ngayTao] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nhanVienId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[taiSan]    Script Date: 11/05/2026 8:48:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[taiSan](
	[taiSanId] [int] IDENTITY(1,1) NOT NULL,
	[tenTaiSan] [nvarchar](100) NOT NULL,
	[loaiTaiSan] [nvarchar](50) NULL,
	[giaTriDinhGia] [decimal](18, 2) NOT NULL,
	[moTa] [nvarchar](255) NULL,
	[trangThai] [nvarchar](50) NOT NULL,
	[ngayTao] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[taiSanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[chiTietHopDongTaiSan] ON 

INSERT [dbo].[chiTietHopDongTaiSan] ([chiTietId], [hopDongId], [taiSanId], [giaTriCamCo], [daTraKhach], [ngayTraKhach]) VALUES (1, 1, 1, CAST(18000000.00 AS Decimal(18, 2)), 0, NULL)
INSERT [dbo].[chiTietHopDongTaiSan] ([chiTietId], [hopDongId], [taiSanId], [giaTriCamCo], [daTraKhach], [ngayTraKhach]) VALUES (2, 2, 2, CAST(20000000.00 AS Decimal(18, 2)), 0, NULL)
INSERT [dbo].[chiTietHopDongTaiSan] ([chiTietId], [hopDongId], [taiSanId], [giaTriCamCo], [daTraKhach], [ngayTraKhach]) VALUES (3, 3, 3, CAST(22000000.00 AS Decimal(18, 2)), 0, NULL)
SET IDENTITY_INSERT [dbo].[chiTietHopDongTaiSan] OFF
GO
SET IDENTITY_INSERT [dbo].[hopDong] ON 

INSERT [dbo].[hopDong] ([hopDongId], [khachHangId], [ngayLap], [soTienGoc], [deadline1], [deadline2], [trangThai], [ghiChu], [ngayCapNhat]) VALUES (1, 1, CAST(N'2026-05-01' AS Date), CAST(10000000.00 AS Decimal(18, 2)), CAST(N'2026-05-21' AS Date), CAST(N'2026-05-31' AS Date), N'DangVay', N'Cam xe may | Gia han hop dong', CAST(N'2026-05-11T20:33:19.460' AS DateTime))
INSERT [dbo].[hopDong] ([hopDongId], [khachHangId], [ngayLap], [soTienGoc], [deadline1], [deadline2], [trangThai], [ghiChu], [ngayCapNhat]) VALUES (2, 2, CAST(N'2026-05-02' AS Date), CAST(15000000.00 AS Decimal(18, 2)), CAST(N'2026-05-12' AS Date), CAST(N'2026-05-22' AS Date), N'DangVay', N'Cam laptop', CAST(N'2026-05-11T20:18:33.420' AS DateTime))
INSERT [dbo].[hopDong] ([hopDongId], [khachHangId], [ngayLap], [soTienGoc], [deadline1], [deadline2], [trangThai], [ghiChu], [ngayCapNhat]) VALUES (3, 3, CAST(N'2026-05-03' AS Date), CAST(8000000.00 AS Decimal(18, 2)), CAST(N'2026-05-13' AS Date), CAST(N'2026-05-23' AS Date), N'DangVay', N'Cam dien thoai', CAST(N'2026-05-11T20:18:33.420' AS DateTime))
SET IDENTITY_INSERT [dbo].[hopDong] OFF
GO
SET IDENTITY_INSERT [dbo].[khachHang] ON 

INSERT [dbo].[khachHang] ([khachHangId], [hoTen], [soDienThoai], [canCuocCongDan], [diaChi], [ngayTao]) VALUES (1, N'Nguyen Van A', N'0901000001', N'001001000001', N'Ha Noi', CAST(N'2026-05-11T20:18:33.403' AS DateTime))
INSERT [dbo].[khachHang] ([khachHangId], [hoTen], [soDienThoai], [canCuocCongDan], [diaChi], [ngayTao]) VALUES (2, N'Tran Thi B', N'0901000002', N'001001000002', N'Hai Phong', CAST(N'2026-05-11T20:18:33.403' AS DateTime))
INSERT [dbo].[khachHang] ([khachHangId], [hoTen], [soDienThoai], [canCuocCongDan], [diaChi], [ngayTao]) VALUES (3, N'Le Van C', N'0901000003', N'001001000003', N'Da Nang', CAST(N'2026-05-11T20:18:33.403' AS DateTime))
SET IDENTITY_INSERT [dbo].[khachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[lichSuThanhToan] ON 

INSERT [dbo].[lichSuThanhToan] ([thanhToanId], [hopDongId], [ngayThanhToan], [soTienTra], [nhanVienId], [ghiChu]) VALUES (1, 1, CAST(N'2026-05-05T09:30:00.000' AS DateTime), CAST(1000000.00 AS Decimal(18, 2)), 1, N'Khach tra lan 1')
INSERT [dbo].[lichSuThanhToan] ([thanhToanId], [hopDongId], [ngayThanhToan], [soTienTra], [nhanVienId], [ghiChu]) VALUES (2, 1, CAST(N'2026-05-08T15:00:00.000' AS DateTime), CAST(500000.00 AS Decimal(18, 2)), 1, N'Khach tra lan 2')
INSERT [dbo].[lichSuThanhToan] ([thanhToanId], [hopDongId], [ngayThanhToan], [soTienTra], [nhanVienId], [ghiChu]) VALUES (3, 2, CAST(N'2026-05-09T10:00:00.000' AS DateTime), CAST(2000000.00 AS Decimal(18, 2)), 2, N'Khach tra mot phan')
SET IDENTITY_INSERT [dbo].[lichSuThanhToan] OFF
GO
SET IDENTITY_INSERT [dbo].[nhanVien] ON 

INSERT [dbo].[nhanVien] ([nhanVienId], [hoTen], [soDienThoai], [chucVu], [ngayTao]) VALUES (1, N'Pham Thu Ngan', N'0912000001', N'Thu Ngan', CAST(N'2026-05-11T20:18:33.410' AS DateTime))
INSERT [dbo].[nhanVien] ([nhanVienId], [hoTen], [soDienThoai], [chucVu], [ngayTao]) VALUES (2, N'Hoang Minh Duc', N'0912000002', N'Quan Ly', CAST(N'2026-05-11T20:18:33.410' AS DateTime))
SET IDENTITY_INSERT [dbo].[nhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[taiSan] ON 

INSERT [dbo].[taiSan] ([taiSanId], [tenTaiSan], [loaiTaiSan], [giaTriDinhGia], [moTa], [trangThai], [ngayTao]) VALUES (1, N'Xe may Honda Vision', N'XeMay', CAST(18000000.00 AS Decimal(18, 2)), N'Mau do, bien so 29A1-12345', N'DangCamCo', CAST(N'2026-05-11T20:18:33.423' AS DateTime))
INSERT [dbo].[taiSan] ([taiSanId], [tenTaiSan], [loaiTaiSan], [giaTriDinhGia], [moTa], [trangThai], [ngayTao]) VALUES (2, N'Laptop Dell XPS 13', N'Laptop', CAST(20000000.00 AS Decimal(18, 2)), N'Core i7, RAM 16GB', N'DangCamCo', CAST(N'2026-05-11T20:18:33.423' AS DateTime))
INSERT [dbo].[taiSan] ([taiSanId], [tenTaiSan], [loaiTaiSan], [giaTriDinhGia], [moTa], [trangThai], [ngayTao]) VALUES (3, N'iPhone 14 Pro Max', N'DienThoai', CAST(22000000.00 AS Decimal(18, 2)), N'Ban 256GB', N'DangCamCo', CAST(N'2026-05-11T20:18:33.423' AS DateTime))
SET IDENTITY_INSERT [dbo].[taiSan] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__khachHan__06ACB9A26BA94ED2]    Script Date: 11/05/2026 8:48:02 PM ******/
ALTER TABLE [dbo].[khachHang] ADD UNIQUE NONCLUSTERED 
(
	[soDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__khachHan__500582448444BBCC]    Script Date: 11/05/2026 8:48:02 PM ******/
ALTER TABLE [dbo].[khachHang] ADD UNIQUE NONCLUSTERED 
(
	[canCuocCongDan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[chiTietHopDongTaiSan] ADD  DEFAULT ((0)) FOR [daTraKhach]
GO
ALTER TABLE [dbo].[hopDong] ADD  DEFAULT (getdate()) FOR [ngayLap]
GO
ALTER TABLE [dbo].[hopDong] ADD  DEFAULT (N'DangVay') FOR [trangThai]
GO
ALTER TABLE [dbo].[hopDong] ADD  DEFAULT (getdate()) FOR [ngayCapNhat]
GO
ALTER TABLE [dbo].[khachHang] ADD  DEFAULT (getdate()) FOR [ngayTao]
GO
ALTER TABLE [dbo].[lichSuThanhToan] ADD  DEFAULT (getdate()) FOR [ngayThanhToan]
GO
ALTER TABLE [dbo].[nhanVien] ADD  DEFAULT (getdate()) FOR [ngayTao]
GO
ALTER TABLE [dbo].[taiSan] ADD  DEFAULT (N'DangCamCo') FOR [trangThai]
GO
ALTER TABLE [dbo].[taiSan] ADD  DEFAULT (getdate()) FOR [ngayTao]
GO
ALTER TABLE [dbo].[chiTietHopDongTaiSan]  WITH CHECK ADD  CONSTRAINT [fk_chiTietHopDongTaiSan_hopDong] FOREIGN KEY([hopDongId])
REFERENCES [dbo].[hopDong] ([hopDongId])
GO
ALTER TABLE [dbo].[chiTietHopDongTaiSan] CHECK CONSTRAINT [fk_chiTietHopDongTaiSan_hopDong]
GO
ALTER TABLE [dbo].[chiTietHopDongTaiSan]  WITH CHECK ADD  CONSTRAINT [fk_chiTietHopDongTaiSan_taiSan] FOREIGN KEY([taiSanId])
REFERENCES [dbo].[taiSan] ([taiSanId])
GO
ALTER TABLE [dbo].[chiTietHopDongTaiSan] CHECK CONSTRAINT [fk_chiTietHopDongTaiSan_taiSan]
GO
ALTER TABLE [dbo].[hopDong]  WITH CHECK ADD  CONSTRAINT [fk_hopDong_khachHang] FOREIGN KEY([khachHangId])
REFERENCES [dbo].[khachHang] ([khachHangId])
GO
ALTER TABLE [dbo].[hopDong] CHECK CONSTRAINT [fk_hopDong_khachHang]
GO
ALTER TABLE [dbo].[lichSuThanhToan]  WITH CHECK ADD  CONSTRAINT [fk_lichSuThanhToan_hopDong] FOREIGN KEY([hopDongId])
REFERENCES [dbo].[hopDong] ([hopDongId])
GO
ALTER TABLE [dbo].[lichSuThanhToan] CHECK CONSTRAINT [fk_lichSuThanhToan_hopDong]
GO
ALTER TABLE [dbo].[lichSuThanhToan]  WITH CHECK ADD  CONSTRAINT [fk_lichSuThanhToan_nhanVien] FOREIGN KEY([nhanVienId])
REFERENCES [dbo].[nhanVien] ([nhanVienId])
GO
ALTER TABLE [dbo].[lichSuThanhToan] CHECK CONSTRAINT [fk_lichSuThanhToan_nhanVien]
GO
/****** Object:  StoredProcedure [dbo].[spDangKyHopDongMoi]    Script Date: 11/05/2026 8:48:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spDangKyHopDongMoi]
    @hoTen NVARCHAR(100),
    @soDienThoai VARCHAR(20),
    @canCuocCongDan VARCHAR(20),
    @diaChi NVARCHAR(255),
    @soTienGoc DECIMAL(18,2),
    @deadline1 DATE,
    @deadline2 DATE,
    @ghiChuHopDong NVARCHAR(255),
    @tenTaiSan NVARCHAR(100),
    @loaiTaiSan NVARCHAR(50),
    @giaTriDinhGia DECIMAL(18,2),
    @moTaTaiSan NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @khachHangId INT;
    DECLARE @hopDongId INT;
    DECLARE @taiSanId INT;

    -- Kiểm tra khách hàng đã tồn tại theo CCCD chưa
    SELECT @khachHangId = khachHangId
    FROM khachHang
    WHERE canCuocCongDan = @canCuocCongDan;

    -- Nếu chưa tồn tại thì thêm khách hàng mới
    IF @khachHangId IS NULL
    BEGIN
        INSERT INTO khachHang (hoTen, soDienThoai, canCuocCongDan, diaChi)
        VALUES (@hoTen, @soDienThoai, @canCuocCongDan, @diaChi);

        SET @khachHangId = SCOPE_IDENTITY();
    END

    -- Tạo hợp đồng mới
    INSERT INTO hopDong (khachHangId, ngayLap, soTienGoc, deadline1, deadline2, trangThai, ghiChu)
    VALUES (@khachHangId, GETDATE(), @soTienGoc, @deadline1, @deadline2, N'DangVay', @ghiChuHopDong);

    SET @hopDongId = SCOPE_IDENTITY();

    -- Tạo tài sản mới
    INSERT INTO taiSan (tenTaiSan, loaiTaiSan, giaTriDinhGia, moTa, trangThai)
    VALUES (@tenTaiSan, @loaiTaiSan, @giaTriDinhGia, @moTaTaiSan, N'DangCamCo');

    SET @taiSanId = SCOPE_IDENTITY();

    -- Gắn tài sản vào hợp đồng
    INSERT INTO chiTietHopDongTaiSan (hopDongId, taiSanId, giaTriCamCo, daTraKhach, ngayTraKhach)
    VALUES (@hopDongId, @taiSanId, @giaTriDinhGia, 0, NULL);

    -- Trả kết quả để dễ kiểm tra
    SELECT 
        @khachHangId AS khachHangId,
        @hopDongId AS hopDongId,
        @taiSanId AS taiSanId;
END;

GO
/****** Object:  StoredProcedure [dbo].[spGiaHanHopDong]    Script Date: 11/05/2026 8:48:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spGiaHanHopDong]
    @hopDongId INT,
    @soNgayGiaHanDeadline1 INT,
    @soNgayGiaHanDeadline2 INT,
    @soTienKhachTra DECIMAL(18,2),
    @nhanVienId INT,
    @ghiChu NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @soTienGoc DECIMAL(18,2);
    DECLARE @tongNoHienTai DECIMAL(18,2);
    DECLARE @tongDaTra DECIMAL(18,2);
    DECLARE @laiPhaiTra DECIMAL(18,2);
    DECLARE @deadline1Moi DATE;
    DECLARE @deadline2Moi DATE;
    DECLARE @trangThaiHopDong NVARCHAR(50);

    -- Lấy thông tin hợp đồng
    SELECT
        @soTienGoc = soTienGoc,
        @trangThaiHopDong = trangThai
    FROM hopDong
    WHERE hopDongId = @hopDongId;

    IF @soTienGoc IS NULL
    BEGIN
        RAISERROR(N'Hop dong khong ton tai.', 16, 1);
        RETURN;
    END

    IF @trangThaiHopDong = N'DaThanhLy'
    BEGIN
        RAISERROR(N'Hop dong da thanh ly, khong the gia han.', 16, 1);
        RETURN;
    END

    -- Tính tổng nợ hiện tại
    SET @tongNoHienTai = dbo.fnTinhTienHopDong(@hopDongId, CAST(GETDATE() AS DATE));

    -- Tính tổng tiền đã trả
    SELECT @tongDaTra = ISNULL(SUM(soTienTra), 0)
    FROM lichSuThanhToan
    WHERE hopDongId = @hopDongId;

    -- Tạm xác định phần lãi phải trả để được gia hạn
    -- Ở mức bài tập, xem lãi = tổng nợ hiện tại - gốc
    SET @laiPhaiTra = @tongNoHienTai - @soTienGoc;

    IF @laiPhaiTra < 0
        SET @laiPhaiTra = 0;

    -- Nếu khách trả chưa đủ lãi thì không cho gia hạn
    IF @soTienKhachTra < @laiPhaiTra
    BEGIN
        RAISERROR(N'Khach chua thanh toan du tien lai de gia han hop dong.', 16, 1);
        RETURN;
    END

    -- Ghi nhận thanh toán phục vụ audit log
    INSERT INTO lichSuThanhToan (hopDongId, ngayThanhToan, soTienTra, nhanVienId, ghiChu)
    VALUES (@hopDongId, GETDATE(), @soTienKhachTra, @nhanVienId, ISNULL(@ghiChu, N'Gia han hop dong'));

    -- Tính deadline mới kể từ ngày hiện tại
    SET @deadline1Moi = DATEADD(DAY, @soNgayGiaHanDeadline1, CAST(GETDATE() AS DATE));
    SET @deadline2Moi = DATEADD(DAY, @soNgayGiaHanDeadline2, CAST(GETDATE() AS DATE));

    -- Cập nhật hợp đồng sau khi gia hạn
    UPDATE hopDong
    SET
        deadline1 = @deadline1Moi,
        deadline2 = @deadline2Moi,
        trangThai = N'DangVay',
        ngayCapNhat = GETDATE(),
        ghiChu = ISNULL(ghiChu, N'') + N' | Gia han hop dong'
    WHERE hopDongId = @hopDongId;

    SELECT
        N'Gia han hop dong thanh cong.' AS thongBao,
        @laiPhaiTra AS soTienLaiBatBuoc,
        @soTienKhachTra AS soTienKhachDaTra,
        @deadline1Moi AS deadline1Moi,
        @deadline2Moi AS deadline2Moi;
END;

GO
/****** Object:  StoredProcedure [dbo].[spXuLyTraNoTungPhan]    Script Date: 11/05/2026 8:48:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spXuLyTraNoTungPhan]
    @hopDongId INT,
    @soTienTra DECIMAL(18,2),
    @nhanVienId INT,
    @ghiChu NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @trangThaiHopDong NVARCHAR(50);
    DECLARE @tongNoHienTai DECIMAL(18,2);
    DECLARE @duNoConLai DECIMAL(18,2);

    -- Lấy trạng thái hợp đồng
    SELECT @trangThaiHopDong = trangThai
    FROM hopDong
    WHERE hopDongId = @hopDongId;

    IF @trangThaiHopDong IS NULL
    BEGIN
        RAISERROR(N'Hop dong khong ton tai.', 16, 1);
        RETURN;
    END

    -- Nếu hợp đồng đã thanh lý thì không thu tiền
    IF @trangThaiHopDong = N'DaThanhLy'
    BEGIN
        RAISERROR(N'Hop dong da thanh ly, khong thu tien va khong tra do.', 16, 1);
        RETURN;
    END

    -- Tính tổng nợ hiện tại trước khi thu tiền
    SET @tongNoHienTai = dbo.fnTinhTienHopDong(@hopDongId, CAST(GETDATE() AS DATE));

    -- Ghi log thanh toán
    INSERT INTO lichSuThanhToan (hopDongId, ngayThanhToan, soTienTra, nhanVienId, ghiChu)
    VALUES (@hopDongId, GETDATE(), @soTienTra, @nhanVienId, @ghiChu);

    -- Tính lại dư nợ còn lại sau khi vừa trả
    SET @duNoConLai = dbo.fnTinhTienHopDong(@hopDongId, CAST(GETDATE() AS DATE));

    -- Nếu đã trả hết thì cập nhật trạng thái hoàn tất
    IF @duNoConLai <= 0
    BEGIN
        UPDATE hopDong
        SET 
            trangThai = N'DaThanhToan',
            ngayCapNhat = GETDATE()
        WHERE hopDongId = @hopDongId;

        -- Đánh dấu toàn bộ tài sản đã trả khách
        UPDATE chiTietHopDongTaiSan
        SET 
            daTraKhach = 1,
            ngayTraKhach = CAST(GETDATE() AS DATE)
        WHERE hopDongId = @hopDongId
          AND daTraKhach = 0;

        -- Cập nhật trạng thái tài sản
        UPDATE ts
        SET ts.trangThai = N'DaTraKhach'
        FROM taiSan ts
        INNER JOIN chiTietHopDongTaiSan ct ON ts.taiSanId = ct.taiSanId
        WHERE ct.hopDongId = @hopDongId;

        SELECT 
            N'Khach da thanh toan het no. Da tra toan bo tai san.' AS thongBao,
            @tongNoHienTai AS tongNoTruocKhiTra,
            0 AS duNoConLai;

        RETURN;
    END

    -- Nếu chưa trả hết thì chuyển trạng thái sang đang trả góp
    UPDATE hopDong
    SET 
        trangThai = N'DangTraGop',
        ngayCapNhat = GETDATE()
    WHERE hopDongId = @hopDongId;

    -- Trả thông tin sau thanh toán
    SELECT 
        N'Khach da tra mot phan. Hop dong chuyen sang DangTraGop.' AS thongBao,
        @tongNoHienTai AS tongNoTruocKhiTra,
        @duNoConLai AS duNoConLai;

    -- Danh sách gợi ý tài sản có thể trả cho khách
    ;WITH giaTriTaiSanChuaTra AS
    (
        SELECT 
            ct.chiTietId,
            ct.hopDongId,
            ct.taiSanId,
            ts.tenTaiSan,
            ct.giaTriCamCo
        FROM chiTietHopDongTaiSan ct
        INNER JOIN taiSan ts ON ct.taiSanId = ts.taiSanId
        WHERE ct.hopDongId = @hopDongId
          AND ct.daTraKhach = 0
    ),
    tongGiaTri AS
    (
        SELECT SUM(giaTriCamCo) AS tongGiaTriConGiu
        FROM giaTriTaiSanChuaTra
    )
    SELECT 
        g.chiTietId,
        g.taiSanId,
        g.tenTaiSan,
        g.giaTriCamCo,
        (t.tongGiaTriConGiu - g.giaTriCamCo) AS giaTriConLaiNeuTraTaiSanNay,
        @duNoConLai AS duNoConLai
    FROM giaTriTaiSanChuaTra g
    CROSS JOIN tongGiaTri t
    WHERE (t.tongGiaTriConGiu - g.giaTriCamCo) >= @duNoConLai;
END;

GO
/****** Object:  Trigger [dbo].[trgCapNhatHopDongQuaHan]    Script Date: 11/05/2026 8:48:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[trgCapNhatHopDongQuaHan]
ON [dbo].[hopDong]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    -- Nếu đã vượt deadline1 và hợp đồng còn đang vay hoặc đang trả góp
    UPDATE hd
    SET 
        hd.trangThai = N'QuaHan',
        hd.ngayCapNhat = GETDATE()
    FROM hopDong hd
    INNER JOIN inserted i ON hd.hopDongId = i.hopDongId
    WHERE CAST(GETDATE() AS DATE) > hd.deadline1
      AND hd.trangThai IN (N'DangVay', N'DangTraGop');
END;

GO
ALTER TABLE [dbo].[hopDong] ENABLE TRIGGER [trgCapNhatHopDongQuaHan]
GO
/****** Object:  Trigger [dbo].[trgCapNhatTaiSanDaBanThanhLy]    Script Date: 11/05/2026 8:48:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[trgCapNhatTaiSanDaBanThanhLy]
ON [dbo].[hopDong]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    -- Khi hợp đồng vừa chuyển sang DaThanhLy thì toàn bộ tài sản thành DaBanThanhLy
    UPDATE ts
    SET ts.trangThai = N'DaBanThanhLy'
    FROM taiSan ts
    INNER JOIN chiTietHopDongTaiSan ct ON ts.taiSanId = ct.taiSanId
    INNER JOIN inserted i ON ct.hopDongId = i.hopDongId
    INNER JOIN deleted d ON i.hopDongId = d.hopDongId
    WHERE i.trangThai = N'DaThanhLy'
      AND d.trangThai <> N'DaThanhLy';
END;

GO
ALTER TABLE [dbo].[hopDong] ENABLE TRIGGER [trgCapNhatTaiSanDaBanThanhLy]
GO
/****** Object:  Trigger [dbo].[trgCapNhatTaiSanSanSangThanhLy]    Script Date: 11/05/2026 8:48:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[trgCapNhatTaiSanSanSangThanhLy]
ON [dbo].[hopDong]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    -- Nếu hợp đồng đã quá hạn và vượt deadline2 thì tài sản sẵn sàng thanh lý
    UPDATE ts
    SET ts.trangThai = N'SanSangThanhLy'
    FROM taiSan ts
    INNER JOIN chiTietHopDongTaiSan ct ON ts.taiSanId = ct.taiSanId
    INNER JOIN hopDong hd ON ct.hopDongId = hd.hopDongId
    INNER JOIN inserted i ON hd.hopDongId = i.hopDongId
    WHERE hd.trangThai = N'QuaHan'
      AND CAST(GETDATE() AS DATE) > hd.deadline2
      AND ts.trangThai = N'DangCamCo';
END;

GO
ALTER TABLE [dbo].[hopDong] ENABLE TRIGGER [trgCapNhatTaiSanSanSangThanhLy]
GO
USE [master]
GO
